:root {
	--color-brand: #121212;
	--color-cta: #ffe500;
	--color-card: #f6f6f6;
	--color-border: #dcdcdc;
	--color-border-hover: #a4a3a5;

	--color-text: #121212;
	--color-text-light: #444;

	--color-error: #c70000;

	--color-bg: var(--color-card);

	--size-baseline: 0.4rem;
	--size-baseline-gutter: calc(var(--size-baseline) * 4);
	--size-control: calc(var(--size-baseline) * 8);
	--size-width: 30rem;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	background: var(--color-bg);
}
