.header {
	max-width: 100%;
	border-bottom: 1px solid var(--color-border);
	height: 48px;
}

.wrapper {
	composes: wrapper from '../../utils.css';
}

.logo {
	width: 56px;
	height: 56px;
	float: right;
}
